.generatedPassword {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  background: #fff;
  border-radius: 5px;
  /* box-shadow: 0 -5px 15px 1px #ffffff; */
  padding: 35px;
  height: calc(115px - 70px);
}

.input {
  width: 100%;
  font-size: 32px;
  font-family: monospace;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.icons button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.icons button img {
  height: 25px;
}

.animate {
  animation: spinBtn 0.2s ease 0s 1 alternate;
}

@media screen and (max-width: 550px) {
  .icons button img {
    height: 20px;
  }
  .icons {
    gap: 10px;
  }
  .generatedPassword {
    gap: 10px;
  }
}

@keyframes spinBtn {
  0% {
    transition: all 0.2s ease;
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

@media screen and (max-width: 300px) {
  .generatedPassword {
    padding: 20px;
  }
  .input {
    font-size: 20px;
  }
}
