html {
  overflow: hidden;
}

body {
  background: #18191a;
}

button,
textarea,
input,
select,
label,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  width: 100%;
}

.copy {
  box-shadow: 0 0 10px 1px #61dafb;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #61dafb;
  border-radius: 50px;
  margin: 30px 0 30px 0;
}

.copy button {
  padding: 14px 34px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.copyScale {
  animation: scaleBtn 0.2s ease 0s 1 alternate;
}

.subtitle h2 {
  color: #61dafb;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.title {
  margin: 10px 0 30px 0;
}

.title h1 {
  color: #fff;
  font-size: 40px;
}

@keyframes scaleBtn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}

.mainWrapper,
.savedPasswordsWrap {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scroll {
  margin-bottom: 10px;
}

.scroll img {
  width: 50px;
}

@media screen and (max-width: 550px) {
  .title {
    display: none;
  }
  .subtitle {
    padding: 20px;
  }

  .container {
    gap: 0px;
  }
  .scroll {
    display: none;
  }
}

@media screen and (max-width: 230px) {
  .copy button {
    padding: 10px 15px;
    font-size: 20px;
  }
}
