.strengthWrap {
  transition: all 0.5s ease;
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 11px;
  width: 100%;
  background-color: #e9e9e9;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
}

.strength {
  transition: all 1s ease;
  width: 0%;
  height: 100%;
  border-radius: 0 5px 5px 0;
}

.strength25 {
  width: 25%;
  background: #df6661;
}

.strength50 {
  width: 50%;
  background: #efc20f;
}

.strength75 {
  width: 75%;
  background: #00a878;
}

.strength100 {
  width: 105%;
  background: #006b4d;
}
