.passwordSettings {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fff;
  border-radius: 5px;
  /* box-shadow: 0 0 15px 1px #ffffff; */
  padding: 30px 40px;
}

.title {
  width: 100%;
  border-bottom: 2px solid #edeef0;
}

.title h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 47px;
}

.form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
}

.length {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lengthTitle label {
  font-weight: 500;
}

.lengthInputs {
  display: flex;
  align-items: center;
  gap: 20px;
}

.lengthInputs input[type='text'] {
  height: 30px;
  width: 45px;
  box-shadow: inset 0 1px 2px 0 rgb(0 0 0 / 25%);
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #c8c8c8;
  text-align: center;
}

.range {
  width: 220px;
  margin: 12.9px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
.range:focus {
  outline: none;
}
.range::-webkit-slider-runnable-track {
  background: #61dafb;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 7.2px;
  cursor: pointer;
}
.range::-webkit-slider-thumb {
  margin-top: -12.9px;
  width: 33px;
  height: 33px;
  background: #61dafb;
  border: 1px solid #00001e52;
  border-radius: 50px;
  cursor: pointer;
  -webkit-appearance: none;
}
.range:focus::-webkit-slider-runnable-track {
  background: #61dafb;
}
.range::-moz-range-track {
  background: #61dafb;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 7.2px;
  cursor: pointer;
}
.range::-moz-range-thumb {
  width: 33px;
  height: 33px;
  background: #61dafb;
  border: 1.8px solid #00001e;
  border-radius: 50px;
  cursor: pointer;
}
.range::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 13.8px 0;
  color: transparent;
  width: 100%;
  height: 7.2px;
  cursor: pointer;
}
.range::-ms-fill-lower {
  background: #61dafb;
  border: 0;
  border-radius: 50px;
}
.range::-ms-fill-upper {
  background: #61dafb;
  border: 0;
  border-radius: 50px;
}
.range::-ms-thumb {
  width: 33px;
  height: 33px;
  background: #61dafb;
  border: 1.8px solid #00001e;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 0px;
}
.range:focus::-ms-fill-lower {
  background: #61dafb;
}
.range:focus::-ms-fill-upper {
  background: #61dafb;
}

.checkboxWrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
