.savedPasswords {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  padding-right: 5px;
  border-radius: 8px;
  box-shadow: 0 0 10px 1px #000;
}

.list {
  max-height: 550px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 15px;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.password {
  width: 100%;
  font-size: 32px;
  font-family: monospace;
  font-family: monospace;
}

.password {
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: copy;
}

.strength {
  position: relative;
  width: 300px;
  margin-left: auto;
  height: 11px;
}

.strength div {
  border-radius: 5px;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  height: 25px;
}

.list::-webkit-scrollbar {
  width: 5px;
  border-radius: 50px;
}

.list::-webkit-scrollbar-thumb {
  background: #18191a80;
  border-radius: 50px;
}

.list::-webkit-scrollbar-track {
  background: #18191a34;
  border-radius: 50px;
}

.noPasswords {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 300;
}

@media screen and (max-width: 550px) {
  .password {
    font-size: 20px;
  }
  .list {
    max-height: 300px;
  }
}
